@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";

* { 
    font-family: 'Oxygen', sans-serif;
}

.container-all {
    background-color: #cfd7c7;
}

h1 {
    text-align: center;
    font-size:x-large;
}

.header, .is-child {
    color: #F6F1D1;
    background-color: #40798C;
}

.button, .input, .historical, .tile {
    margin-top:1rem;
}

.historical {
    background-color: #cfd7c7;
}